---
import NavSection from "../components/NavSection.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="A mockup landing page for an app called Bookmark, challenge by Frontend Mentor." />
    <title>Bookmark</title>

    <meta property="og:title" content="Bookmark" />
    <meta property="og:description" content="A mockup landing page for an app called Bookmark, challenge by Frontend Mentor." />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="preload" as="style" />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet" />
  </head>

  <body class="font-rubik">
    <NavSection />
  </body>
</html>
