---
import EmailInput from "./EmailInput";
---

<section class="mt-32 flex flex-col items-center justify-center gap-8 bg-soft-blue px-8 py-14 lg:mt-40 lg:gap-9">
  <div class="flex w-full max-w-[26rem] flex-col text-center text-white lg:gap-6">
    <span class="text-xs leading-10 tracking-[0.28rem] lg:text-sm lg:tracking-[0.31rem]">35,000+ ALREADY JOINED</span>
    <h2 class="text-2xl font-medium leading-7 lg:text-[2rem] lg:leading-10">Stay up-to-date with what we're doing</h2>
  </div>

  <EmailInput client:load />
</section>
